@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.FloatingForm {
	width: 100%;
	padding: 0.5rem 1rem;
	padding-top: 1.4rem;
	border: 1px solid #000;
	border-radius: 0.5rem;
	outline: none;
	position: relative;

	&__label {
		position: absolute;
		top: 0.5rem;
		left: 1rem;
		font-size: 0.7rem;
	}

	input {
		border: 0;
		outline: none;
		font-size: 1.2rem;
		width: 100%;
	}

	&__button {
		position: absolute;
		top: 50%;
		right: 1rem;
		transform: translateY(-50%);
		color: #f00;
		font-size: 1.5rem;

		background-color: transparent;
		border: 0;
		cursor: pointer;

		svg {
			display: block;
		}

		.spinner {
			animation: spin 1s ease-in-out infinite;
		}
	}
}
