---
import ReBarChart from "../components/dash/ReBarChart";
import Layout from "../layouts/Layout.astro";
// import BottomSection from "../sections/BottomSection.astro";
import FakeDashboard from "../sections/FakeDashboard";
---

<script>
	document.addEventListener("DOMContentLoaded", () => {
		const screen = document.querySelector(".dash") as HTMLElement | null;

		if (!screen) return;

		const resizeScreen = () => {
			if (window.innerWidth > 1024 && window.innerWidth < 1240) {
				let newWidth = Math.min(window.innerWidth, 1224) * 0.6;
				screen.style.width = `${newWidth}px`;
				screen.style.height = `${(newWidth * 10) / 16}px`;
			} else if (window.innerWidth > 1240 && window.innerWidth < 1415) {
				let newWidth = Math.min(window.innerWidth, 1224) * 0.62;
				screen.style.width = `${newWidth}px`;
				screen.style.height = `${(newWidth * 10) / 16}px`;
			} else {
				let newWidth = Math.min(window.innerWidth, 1224) * 0.7;
				screen.style.width = `${newWidth}px`;
				screen.style.height = `${(newWidth * 10) / 16}px`;
			}
		};

		// Initial resize
		resizeScreen();

		// Resize on window change
		window.addEventListener("resize", resizeScreen);
	});
</script>

<Layout>
	<!-- <div class="dash">
		<FakeDashboard client:only />
	</div> -->
	<!-- <BottomSection client:load /> -->
</Layout>

<style lang="scss">
	.dash {
		// border: 1px solid red;
	}
</style>
