---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import BottomSection from "../sections/BottomSection.astro";
import DeviceSection from "../sections/DeviceSection.astro";
import IntroSection from "../sections/IntroSection.astro";
import LaptopSection from "../sections/LaptopSection.astro";
import PlainTextSection from "../sections/PlainTextSection.astro";
import { textList } from "../utils/constants";
---

<Layout>
	<div class="MainWrap">
		<IntroSection />
		<!-- <LaptopSection /> -->
		<PlainTextSection textList={textList} />
		<DeviceSection />
		<BottomSection />
	</div>
</Layout>

<style lang="scss">
	.MainWrap {
		position: relative;
	}
</style>
