---
import TabToggle from "../components/TabToggle.astro";
import SectionLayout from "../layouts/SectionLayout.astro";
import { tabItems } from "../utils/constants";
import LaptopSection from "./LaptopSection.astro";
import PhoneSection from "./PhoneSection.astro";
---

<script>
	// if isIOS, add --isIOS to classname

	import { isIOS } from "../utils/helpers";

	const PhoneSection = document.querySelector(".PhoneSection")!;
	if (isIOS()) {
		PhoneSection.classList.add("PhoneSection--isIOS");
	}
</script>

<SectionLayout className="DeviceSectionWrapper">
	<div class="DeviceSection" id="DeviceSection">
		<div class="DeviceSection__top">
			<TabToggle tabItems={tabItems} />
		</div>
		<div class="DeviceSection__main">
			<div class="PhoneSection">
				<PhoneSection />
			</div>
			<div class="LaptopSection">
				<LaptopSection />
			</div>
		</div>
	</div>
</SectionLayout>

<style lang="scss">
	.DeviceSection {
		background-color: #ffffff;
		width: 100vw;
		height: 300vh; // Ensure enough space for scrolling
		overflow: hidden;

		&__top {
			position: sticky;
			top: 0;
			z-index: 10;
			background-color: #ffffff;

			display: grid;
			place-items: center;
			padding: 3rem 0;
		}

		&__main {
			display: flex;
			flex-direction: column;
			align-items: center;

			position: relative;
			width: 100%;

			// overflow-y: auto;
		}

		.PhoneSection,
		.LaptopSection {
			width: 100%;
		}

		.PhoneSection {
			opacity: 1;

			display: grid;
			place-items: center;
			height: calc(100vh - 180px);
		}
		.LaptopSection {
			// opacity: 0;
			// transform: translateY(100%);

			display: grid;
			place-items: center;
			height: calc(100dvh - 180px);
		}
	}

	// @media (max-width: 768px) {
	// 	.DeviceSection {
	// 		&__top {
	// 			padding: 2.5rem 0;
	// 		}
	// 		&__main {
	// 			.PhoneSection,
	// 			.LaptopSection {
	// 				height: calc(100dvh - 200px);
	// 			}
	// 		}
	// 	}
	// }
	// if it's ios
	@media (max-width: 768px) and (pointer: coarse) {
		.DeviceSection {
			&__top {
				padding: 2.5rem 0;
			}
			.PhoneSection,
			.LaptopSection {
				height: calc(100vh - 130px);
			}

			.PhoneSection--isIOS {
				transform: translateY(-20px);
				// background-color: red;
			}
		}
	}
</style>
