---
import TabToggle from "../components/TabToggle.astro";
import SectionLayout from "../layouts/SectionLayout.astro";
import { tabItems } from "../utils/constants";
import PhoneSection from "./PhoneSection.astro";
---

<script>
	let activeTab = 0;

	const tabs = document.querySelectorAll(".TabToggle__button");

	tabs[activeTab].classList.add("TabToggle__button--active");

	tabs.forEach((tab, index) => {
		tab.addEventListener("click", () => {
			if (activeTab === index) return;
			activeTab = index;
			console.log(index);
			tab.classList.add("TabToggle__button--active");

			tabs.forEach((tab, i) => {
				if (i !== index) {
					tab.classList.remove("TabToggle__button--active");
				}
			});
		});
	});
</script>

<SectionLayout className="DeviceSectionWrapper">
	<div class="DeviceSection">
		<div class="DeviceSection__top">
			<TabToggle tabItems={tabItems} />
		</div>
		<div class="DeviceSection__main">
			<PhoneSection />
		</div>
	</div>
</SectionLayout>

<style lang="scss">
	.DeviceSection {
		background-color: #ffffff;
		width: 100vw;
		height: 100vh;
		overflow: hidden;

		&__top {
			display: grid;
			place-items: center;
			padding: 3rem 0;
		}

		&__main {
			display: grid;
			place-items: center;
		}
	}
</style>
