---
import ArrowButton from "../components/ArrowButton.astro";
import SectionLayout from "../layouts/SectionLayout.astro";
---

<script>
	// Using gif.js library
	// import GIF from "gif.js";

	// const gif = new GIF({
	// 	workers: 2,
	// 	quality: 10,
	// 	width: 320,
	// 	height: 240,
	// });

	// const IntroSection__gif = document.querySelector(
	// 	".IntroSection__gif"
	// ) as HTMLCanvasElement;

	// if (IntroSection__gif)
	// 	gif.addFrame(IntroSection__gif, { copy: true, delay: 100 });
	// gif.render();

	document.addEventListener("DOMContentLoaded", () => {
		const gif = document.querySelector(
			".IntroSection__gif"
		) as HTMLImageElement;
		if (gif)
			gif.src = "/images/output-final-slower.gif?" + new Date().getTime();
	});
</script>

<SectionLayout className="IntroSectionWrapper">
	<div class="IntroSection">
		<video
			class="IntroSection__vid"
			src="https://res.cloudinary.com/dywp91yx7/video/upload/f_auto:video,q_auto/v1/folio-v2/rw028haokxfkute9yr3k"
			muted
			playsinline
			autoplay></video>

		<img
			src="/images/output-final-slower.gif"
			alt=""
			class="IntroSection__gif"
		/>

		<!-- <div id="lottie-animation"></div> -->
		<!-- <canvas id="lottie-animation" style="width: 800px; height:800px;"></canvas> -->
	</div>
</SectionLayout>

<style lang="scss">
	.IntroSection {
		width: 100%;
		height: 100vh;
		height: 100svh;

		display: grid;
		place-items: center;
		position: relative;
		background-color: #fff;

		&__vid,
		&__gif {
			width: 100%;
			height: 100vh;
			height: 100svh;
			object-fit: contain;
		}

		&__vid {
			display: block;
		}
		&__gif {
			display: none;
		}

		svg {
			width: 100%;
			height: 50vh;
		}

		.btn {
			position: absolute;
			bottom: 2rem;
			right: 2rem;
		}
	}

	@media (max-width: 768px) {
		.IntroSection {
			&__gif {
				display: block;
			}
			&__vid {
				display: none;

				object-fit: cover;
				width: 60%;
				height: 65%;
			}
		}
	}
</style>
