---
import SectionLayout from "../layouts/SectionLayout.astro";
---

<SectionLayout className="">
	<div class="IntroSection">
		<img src="/images/ladybird-logo.png" alt="" />
	</div>
</SectionLayout>

<style lang="scss">
	.IntroSection {
		width: 100%;
		display: grid;
		place-items: center;

		img {
			// width: 50%;
			height: 50vh;
		}
	}
</style>
