---
import FakeDashboard from "./FakeDashboard.astro";
---

<script>
	import { scaleElementToViewport } from "../utils/helpers";

	const innerEl = document.querySelector(".LaptopSection__inner")!;

	// scaleElementToViewport(innerEl, 1440, 790);
</script>

<section class="LaptopSection__inner">
	<video class="LaptopSection__vid" src="/videos/laptop--cropped.mp4"></video>
	<div class="LaptopSection__screen">
		<!-- <canvas></canvas> -->
		<FakeDashboard />
	</div>
</section>

<style lang="scss">
	.LaptopSection {
		&__inner {
			height: 100%;
			width: max-content;
			position: relative;

			// width: 1440px;
			// height: 790px;

			canvas {
				// width: 1440px !important;
				// height: 790px !important;
				position: absolute;
				top: 0;
				left: 0;
			}
		}

		&__vid {
			// disable clicking on the video
			height: 100%;
			max-height: 80vh;
			pointer-events: none;
		}

		&__screen {
			// width: 53vw;
			// height: 33vw;
			// top: 10.5vw;
			// left: 50vw;
			// transform: translateX(-50%) translateY(0%);

			position: absolute;
			top: 45%;
			left: 50%;

			width: 70%;
			height: 70%;

			transform: translate(-50%, -50%);

			// background-color: #fff;
			opacity: 0;
			z-index: 1;
			position: absolute;
		}
	}
</style>
