---
import FakeDashboard from "./FakeDashboard.astro";
---

<section class="LaptopSection">
	<div class="LaptopSection__screen">
		<FakeDashboard />
	</div>
</section>

<style lang="scss">
	.LaptopSection {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100vh;
		// background-color: #f0f0f0;
		position: relative;

		&__screen {
			width: 49vw;
			height: 56vh;
			// background-color: #fff;
			opacity: 0;

			position: absolute;
			top: 61%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		canvas {
			width: 100vw;
			height: 100vh;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
</style>
