---
import FakeDashboard from "./FakeDashboard.astro";
---

<script>
	// set the height of LaptopSection__screen to 6/10 of the width of LaptopSection__screen
	// this is to maintain the aspect ratio of the screen
	document.addEventListener("DOMContentLoaded", () => {
		const screen = document.querySelector(
			".LaptopSection__screen"
		) as HTMLElement;
		const video = document.querySelector(
			".LaptopSection__vid"
		) as HTMLVideoElement;

		// screen.style.maxHeight = `clamp(0, ${(screen.offsetWidth * 10) / 16}px, 60vh)`;
		screen.style.width = `${video.offsetWidth * 0.7}px`;
		screen.style.height = `${(screen.offsetWidth * 10) / 16}px`;
		// screen.style.top = window.innerHeight - 140;
		// screen.style.top = window.innerHeight - 140;
		// screen.style.top = `calc(50% - ${screen.offsetHeight / 2}px)`;
		// log viewport height
		// console.log(window.innerHeight);
	});

	// console.log(screen.offsetWidth);
</script>
<section class="LaptopSection__inner">
	<!-- src="/videos/laptop--cropped.mp4" -->
	<!-- src="https://res.cloudinary.com/dywp91yx7/video/upload/f_auto:video,q_auto/a6stehta5uclkbrihwsr" -->
	<video
		class="LaptopSection__vid"
		src="https://res.cloudinary.com/dywp91yx7/video/upload/f_auto:video,q_auto/a6stehta5uclkbrihwsr"
		muted
		playsinline></video>
	<div class="LaptopSection__screen">
		<!-- <canvas></canvas> -->
		<FakeDashboard />
	</div>
</section>

<style lang="scss">
	.LaptopSection {
		&__inner {
			height: 100%;
			width: max-content;
			position: relative;
		}

		&__vid {
			// disable clicking on the video
			// height: 100%;
			// max-height: 80vh;

			width: 100%;
			max-width: clamp(0px, 80vw, 1440px);
			object-fit: contain;

			pointer-events: none;
		}

		&__screen {
			position: absolute;
			top: 5%;
			// top: 50px;
			left: 50%;

			// width: 65%;
			// max-width: 75vw;

			// max-height: 75vh;

			transform: translateX(-50%);
			// transform: translate(-50%, -50%);
			aspect-ratio: 16 / 10;

			opacity: 0;
			z-index: 1;
			position: absolute;
		}
	}

	@media (max-width: 1024px) {
		.LaptopSection {
			&__screen {
				top: 2%;
			}
		}
	}

	@media (max-width: 465px) {
		.LaptopSection {
			&__screen {
				top: 1.5%;
			}
		}
	}

	// @media (max-width: 900px) {
	// 	.LaptopSection {
	// 		&__screen {
	// 			width: 65%;
	// 			max-width: 70vw;
	// 		}
	// 	}
	// }
</style>
