---
import FakeDashboard from "./FakeDashboard.astro";
---

<script>
	// set the height of LaptopSection__screen to 6/10 of the width of LaptopSection__screen
	// this is to maintain the aspect ratio of the screen
	document.addEventListener("DOMContentLoaded", () => {
		const screen = document.querySelector(
			".LaptopSection__screen"
		) as HTMLElement;

		screen.style.height = `${(screen.offsetWidth * 6) / 10}px`;
	});

	// console.log(screen.offsetWidth);
</script>
<section class="LaptopSection__inner">
	<!-- src="/videos/laptop--cropped.mp4" -->
	<video
		class="LaptopSection__vid"
		src="https://res.cloudinary.com/dywp91yx7/video/upload/f_auto:video,q_auto/pmftei9a4xeun25v7b0j"
		muted
		playsinline></video>
	<div class="LaptopSection__screen">
		<!-- <canvas></canvas> -->
		<FakeDashboard />
	</div>
</section>

<style lang="scss">
	.LaptopSection {
		&__inner {
			height: 100%;
			width: max-content;
			position: relative;
		}

		&__vid {
			// disable clicking on the video
			height: 100%;
			max-height: 80vh;

			width: 100%;
			max-width: clamp(0px, 100vw, 1440px);
			object-fit: contain;

			pointer-events: none;
		}

		&__screen {
			// width: 53vw;
			// height: 33vw;
			// top: 10.5vw;
			// left: 50vw;
			// transform: translateX(-50%) translateY(0%);

			position: absolute;
			top: 42%;
			left: 50%;

			width: 60%;
			max-width: 75vw;

			// height: 60%;
			// max-height: 65vh;
			height: max-content;

			transform: translate(-50%, -50%);

			// background-color: #fff;
			opacity: 0;
			z-index: 1;
			position: absolute;
		}
	}

	@media (max-width: 1024px) {
		.LaptopSection {
			&__screen {
				// width: 50%;
				// max-width: 50vw;
			}
		}
	}
</style>
