---
import TabToggle from "../components/TabToggle.astro";
import SectionLayout from "../layouts/SectionLayout.astro";
import { tabItems } from "../utils/constants";
import PhoneDotLoader from "../components/PhoneDotLoader.astro";

export const patientConvo_pt1 = [
	{ speaker: "AI", text: "Hello, you’ve reached the GP Centre." },
	{ speaker: "AI", text: "Could you confirm your full name, please?" },
	{ speaker: "Patient", text: "Sarah Johnson." },
	{ speaker: "AI", text: "Thank you, Sarah." },
	{ speaker: "AI", text: "And your date of birth, please?" },
	{ speaker: "Patient", text: "15th of March, 1985." },
];

export const patientConvo_pt2 = [
	{ speaker: "AI", text: "Thanks, Sarah." },
	{ speaker: "AI", text: "How can I help?" },
	{ speaker: "Patient", text: "I’ve been having headaches on and off." },
	{ speaker: "Patient", text: "For the past few weeks." },
];

export const patientConvo_pt3 = [
	{ speaker: "AI", text: "I'm sorry to hear that, Sarah." },
	{ speaker: "AI", text: "Let's see if we can get you an appointment." },
	{ speaker: "AI", text: "With Dr. Adams as soon as possible." },
	{ speaker: "AI", text: "How does Wednesday at 11:00 AM sound?" },
	{ speaker: "Patient", text: "Yes, that works." },
	{ speaker: "AI", text: "Great I’ll book you in." },
];

export const patientConvo_pt4 = [
	{ speaker: "AI", text: "Alright, Sarah." },
	{ speaker: "AI", text: "You'll receive a confirmation text." },
	{ speaker: "AI", text: "And a feedback form shortly." },
	{ speaker: "Patient", text: "Thank you." },
];

export const patientConvo_pt5 = [
	{ speaker: "AI", text: "Thanks, Sarah." },
	{ speaker: "AI", text: "Is there anything else I can help you with?" },
	{ speaker: "Patient", text: "No, that was all." },
	{ speaker: "Patient", text: "Thank you." },
	{ speaker: "AI", text: "Take care, Sarah." },
	{ speaker: "AI", text: "Bye." },
	{ speaker: "Patient", text: "Bye." },
];

export const convoLoadingText = [
	["Verifying…", "Verified"],
	["Analysing……", ""],
	["Booking…", "Booked"],
	["Sending…", "Sent"],
];
---

<script>
	// if isIOS, add --isIOS to classname

	import { isIOS } from "../utils/helpers";

	const PhoneSection__inner = document.querySelector(".PhoneSection__inner")!;
	if (isIOS()) {
		PhoneSection__inner.classList.add("PhoneSection__inner--isIOS");
	}
</script>

<div class="PhoneSection__wrap">
	<img src="/images/iphone-shadow.jpg" alt="Phone" class="PhoneSection__bg" />
	<!-- <p class="PhoneSection__wrap__time">09:28</p> -->
	<div class="PhoneSection__inner">
		<PhoneDotLoader />
		<div class="PhoneSection__convoWrap">
			<div class="PhoneSection__fakeConvoPart"></div>
			{
				[
					patientConvo_pt1,
					patientConvo_pt2,
					patientConvo_pt3,
					patientConvo_pt4,
					patientConvo_pt5,
				].map((convoPart) => (
					<div class="PhoneSection__convoPart">
						{convoPart.map((convoItem) => (
							<div class="PhoneSection__convo">
								<p
									class={`PhoneSection__convo__text PhoneSection__convo__text--${convoItem.speaker}`}
								>
									{convoItem.text}
								</p>
								{/* <div class="PhoneSection__convo__cursor" /> */}
							</div>
						))}
					</div>
				))
			}
			{
				convoLoadingText.map((convoItem) => (
					<div class="PhoneSection__loadingPart">
						{convoItem.map((item) => (
							<div class="PhoneSection__loading">
								<p class={`PhoneSection__loading__text`}>{item}</p>
							</div>
						))}
					</div>
				))
			}
		</div>
	</div>
</div>

<style lang="scss">
	.PhoneSection {
		&__bg {
			height: 100%;
			max-height: 80vh;

			width: 100%;
			max-width: 100vw;
			object-fit: contain;
		}

		&__wrap {
			position: relative;
			width: max-content;
			height: calc(100dvh - 180px);

			&__time {
				position: absolute;
				top: 4.8vh;

				left: 7vh;
				font-size: 1.5vh;
				font-weight: 700;
			}
		}
		&__inner {
			// max-height: 80vh;
			position: absolute;
			top: 0;
			left: 0;

			width: 100%;
			height: 100%;
			padding: 1rem 4rem;

			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 2rem;
		}

		&__convoPart,
		&__loadingPart,
		&__fakeConvoPart {
			height: 0;
			overflow: hidden;
		}

		&__loading,
		&__convo {
			position: relative;

			&__text {
				font-size: 1rem;
				line-height: 1.5;
				color: #333;
				margin: 0;
				padding: 0;
				transition: all 0.5s;
				text-align: center;

				overflow: hidden;

				&--Patient {
					// font-weight: 700;
				}

				& > .word {
					// width: 0;
				}

				.char {
					width: 0;
					opacity: 0;
				}
			}
		}
	}

	@media (max-width: 768px) {
		.PhoneSection {
			&__bg {
				max-height: 90vh;
			}

			&__inner {
				padding: 1rem 7rem;
				// padding: 1rem clamp(0px, 7vh, 7rem);
			}

			&__loading,
			&__convo {
				&__text {
					font-size: 0.8rem;
				}
			}
		}
	}
	@media (max-width: 768px) and (pointer: coarse) {
		.PhoneSection {
			&__wrap--isIOS {
				height: calc(100dvh - 216px);
			}

			&__inner--isIOS {
				// padding: 1rem 6rem;
			}
		}
	}
</style>
