---
const { textList } = Astro.props;
import TabToggle from "../components/TabToggle.astro";
import SectionLayout from "../layouts/SectionLayout.astro";
---

<SectionLayout className="PlainTextSectionWrapper">
	<div class="PlainTextSection">
		{
			textList.map((textItem: string) => (
				<div class="PlainTextSection__inner">
					<p>{textItem}</p>
				</div>
			))
		}
	</div>
</SectionLayout>

<script>
	import { textList } from "../utils/constants";

	// const PlainTextSectionWrapper = document.querySelector(
	// 	".PlainTextSectionWrapper"
	// );
	// if (PlainTextSectionWrapper)
	// 	PlainTextSectionWrapper.setAttribute(
	// 		"style",
	// 		`height: ${100 * textList.length}vh`
	// 	);
</script>

<style lang="scss">
	.PlainTextSection {
		background-color: #ffffff;
		width: 100vw;
		// height: 100%;
		overflow: hidden;

		&__inner {
			width: 100%;
			// height: 100vh;
			display: grid;
			place-items: center;

			position: absolute;
			top: 100%;
			opacity: 0;
			transform: translateY(-50%);

			p {
				font-size: 5rem;
				line-height: 1.2;
				text-align: center;
				padding: 1.5rem;
			}
		}
	}

	@media (max-width: 768px) {
		.PlainTextSection {
			&__inner {
				p {
					font-size: 2rem;
				}
			}
		}
	}
</style>
