---
// import { textList } from "../utils/constants";
import ArrowButton from "../components/ArrowButton.astro";
import SectionLayout from "../layouts/SectionLayout.astro";

const textList = [
	"Call by call",
	"inCall",
	"Answers and collects your details,",
	"Books your appointment for you.",
	"The practice reviews and approves everything.",
	"All by call.",
	"inCall",
	"Saves your time and skips the wait.",
	"inCall,",
	"Where calls meet care",
];
---

<SectionLayout className="PlainTextSectionWrapper">
	<div class="PlainTextSectionFixed" id="PlainTextSectionFixed">
		<div class="PlainTextSection">
			{
				textList.map((textItem: string) => (
					<div class="PlainTextSection__inner">
						<div class="PlainTextSection__inner__SVH">
							<p>{textItem}</p>
						</div>
					</div>
				))
			}
		</div>

		<span class="skipBtn">
			<ArrowButton label="Skip" />
		</span>
	</div>
</SectionLayout>

<style lang="scss">
	.PlainTextSectionFixed {
		height: 100vh;
		height: 100svh;
		overflow: hidden;
		width: 100%;
		position: relative;

		.skipBtn {
			position: absolute;
			bottom: 1rem;
			right: 2rem;
		}
	}
	.PlainTextSection {
		background-color: #ffffff;
		width: 100%;
		// height: 100%;
		overflow: hidden;
		opacity: 0;

		// transform: translate(0%, 100%);

		&__inner {
			width: 100%;
			height: 100vh;
			height: 100svh;

			&__SVH {
				width: 100%;
				height: 100vh;
				height: 100svh;

				display: grid;
				place-items: center;
			}

			p {
				font-size: 5rem;
				line-height: 1;
				text-align: center;
				padding: 0 1.5rem;
			}
		}
	}

	@media (max-width: 768px) {
		.PlainTextSection {
			&__inner {
				p {
					font-size: 2rem;
				}
			}
		}
	}
</style>
