---
const { textList } = Astro.props;
import ArrowButton from "../components/ArrowButton.astro";
import TabToggle from "../components/TabToggle.astro";
import SectionLayout from "../layouts/SectionLayout.astro";
---

<script>
	function setFullHeight() {
		const innerElements = document.querySelectorAll(
			".PlainTextSection__inner"
		) as NodeListOf<HTMLElement>;

		innerElements.forEach((element) => {
			element.style.height = `${window.innerHeight}px`;
		});
	}

	// Set on load and resize
	// window.addEventListener("load", setFullHeight);
	// window.addEventListener("resize", setFullHeight);
</script>

<SectionLayout className="PlainTextSectionWrapper">
	<div class="PlainTextSectionFixed" id="PlainTextSectionFixed">
		<div class="PlainTextSection">
			{
				textList.map((textItem: string) => (
					<div class="PlainTextSection__inner">
						<div class="PlainTextSection__inner__SVH">
							<p>{textItem}</p>
						</div>
					</div>
				))
			}
		</div>

		<span class="skipBtn">
			<ArrowButton label="Skip" />
		</span>
	</div>
</SectionLayout>

<style lang="scss">
	.PlainTextSectionFixed {
		height: 100vh;
		overflow: hidden;
		width: 100%;
		position: relative;

		.skipBtn {
			position: absolute;
			bottom: 2rem;
			right: 2rem;
		}
	}
	.PlainTextSection {
		background-color: #ffffff;
		width: 100%;
		// height: 100%;
		overflow: hidden;
		opacity: 0;

		// transform: translate(0%, 100%);

		&__inner {
			width: 100%;
			height: 100vh;

			&__SVH {
				width: 100%;
				height: 100vh;

				display: grid;
				place-items: center;
			}

			p {
				font-size: 5rem;
				line-height: 1;
				text-align: center;
				padding: 1.5rem;
			}
		}
	}

	@media (max-width: 768px) {
		.PlainTextSection {
			&__inner {
				p {
					font-size: 2rem;
				}
			}
		}
	}
</style>
