<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, viewport-fit=cover"
		/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link
			href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap"
			rel="stylesheet"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>Ladybird</title>
		<script src="../scripts/timeline-animations.ts"></script>
		<script src="../scripts/phone-animations.ts"></script>
		<!-- <script
			src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.9.6/lottie.min.js"
		></script> -->
		<!-- <script src="../scripts/test-3d.ts"></script> -->
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global lang="scss">
	@import "../styles/variables";

	@font-face {
		font-family: "SF Pro Display";
		src: url("../assets/fonts/SFPRODISPLAYREGULAR.otf");
		font-weight: 400;
	}
	@font-face {
		font-family: "SF Pro Display";
		src: url("../assets/fonts/SFPRODISPLAYLIGHT.otf");
		font-weight: 300;
	}
	@font-face {
		font-family: "SF Pro Display";
		src: url("../assets/fonts/SFPRODISPLAYMEDIUM.otf");
		font-weight: 500;
	}
	@font-face {
		font-family: "SF Pro Display";
		src: url("../assets/fonts/SFPRODISPLAYSEMIBOLD.otf");
		font-weight: 600;
	}
	@font-face {
		font-family: "SF Pro Display";
		src: url("../assets/fonts/SFPRODISPLAYBOLD.otf");
		font-weight: 700;
	}
	@font-face {
		font-family: "SF Pro Display";
		src: url("../assets/fonts/SFPRODISPLAYBLACK.otf");
		font-weight: 900;
	}

	html {
		font-family: "SF Pro Display", Arial, sans-serif;
		background-color: #ffffff;
		// cursor: none;

		body {
		}
	}

	*::selection {
		color: $tertiary_col;
		background-color: $main_dark;
	}

	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}

	#lottie-animation {
		svg {
			// width: 100%;
			max-height: 100vh !important;
		}
	}
</style>
