---
export interface Props {
	className: string;
}

const { className } = Astro.props;
---

<section class={`SectionLayout ${className}`}>
	<slot />
</section>

<style lang="scss">
	@import "../styles/variables";

	.SectionLayout {
		min-height: 100vh;
		height: 100%;
		background-color: $main_dark;
		position: relative;
		display: flex;
	}

	* {
		scroll-behavior: smooth;
	}
</style>
